<!--使ってないタグ検索用view-->
<div class="container">
  <div class="row-10">
    <h2 class="my-3"><%= @model %>s search for "<%= @word %>"</h2>
    <table class="table table-hover">
      <thead>
          <th>店舗名</th>
          <th>レビュー数</th>
          <th>いいね数</th>
          <th>タグ</th>
        </tr>
      </thead>
      <% @shops.each do |shop| %>
      <tbody>
        <tr>
          <td><%= link_to shop.shop_name.truncate(20), shop_path(shop) %></td> <!--検索結果の店舗名-->
          <td><%= shop.reviews.count %></td> <!--店舗に対してのレビュー数-->
          <!--<td><%#= shop.favorites.count %></td> <!--店舗にたいしてのいいね数-->
          <td><%= shop.category.truncate(20) %></td> <!--店舗登録時に登録してるタグ-->
        </tr>
      </tbody>
      <% end %>
    </table>
    <%= paginate @shops, theme: 'bootstrap-5' %> <!--ページネーション-->
  </div>
</div>