<table class="table caption-top table-hover">
  <caption><%= @model %>s search for <%= @word %></caption>
  <thead>
      <th>店舗名</th>
      <th>レビュー数</th>
      <th>いいね数</th>
      <th>タグ</th>
    </tr>
  </thead>
  <% @shops.each do |shop| %>
  <tbody>
    <tr>
      <td><%= link_to shop.shop_name, shop_path(shop) %></td>
      <td><%= shop.reviews.count %></td>
      <td><%= shop.favorites.count %></td>
      <td><%= shop.category %></td>
    </tr>
  </tbody>
  <% end %>
</table>