<h2>店舗一覧</h2>
<div><%= link_to "店舗新規登録", new_admin_shop_path, class:"btn btn-ml btn-success" %></div>
<table>
  <tr>
    <th>店舗ID</th>
    <th>店舗名</th>
    <th>レビュー数</th>
    <th>いいね数</th>
  </tr>
  <% @shops.each do |shop| %>
  <tr>
    <td><%= shop.id %></td>
    <td><%= link_to shop.shop_name, admin_shop_path(shop.id) %></td>
    <td><%= shop.reviews.count %></td>
    <td><%= shop.favorites.count %></td>
  </tr>
  <% end %>
</table>


