<h2><%= @shop.shop_name %>の店舗情報</h2>

  <p>店舗名</P>
    <span><%= @shop.shop_name %></span>
  </div>
  <P>住所</P>
    <span><%= @shop.shop_address %></span>

  <P>電話番号</P>
    <span><%= @shop.telephone_number %></span>

  <P>営業時間</P>
    <span><%= @shop.business_hours %></span>

  <P>定休日</P>
    <span><%= @shop.regular_holiday %></span>

  <P>アクセス情</P>
    <span><%= @shop.access_information %></span>

  <P>駐車場</P>
    <span><%= @shop.parking %></span>

  <P>メニュー</P>
    <span><%= @shop.menu %></span>

  <P>住所</P>
    <span><%= @shop.remarks %></span>

  <P>タグ</P>
  <span><%= @shop.category %></span>

<%= link_to "情報編集", edit_admin_shop_path(params[:id]) %> <!--(params[:id])で表示している店舗IDを取得-->
<%= link_to "レビュー一覧", admin_reviews_path(params[:id]) %>
<%#= link_to "いいね一覧", favorites_user_path(params[:id]) %>