<div class="container">
  <div class="row">
    <h2 class="mt-5">コメント投稿フォーム（レビューに対してのコメント投稿）</h2>
  </div>

    <%= form_with model: @comment, url: review_comments_path(@comment.review_id), method: :POST, local: true do |f| %>

    <div class="row justify-content-center">
      <div class="col-5">

        <div class="field form-group">
          <div class="form-inline">
            <%= f.label :タイトル %>
            <%= f.text_field :comment_title %>
          </div>
        </div>
        <div class="field form-group">
          <div class="form-inline">
            <%= f.label :内容 %>
            <%= f.text_area :comment_body %>
          </div>
        </div>
        <div class="field form-group">
          <div class="form-inline">
            <%= f.submit '投稿' %>
          </div>
        </div>
      <%= f.hidden_field :review_id %>
      <%#= f.hidden_field :user_id %>
    <% end %>
  </div>
</div>