<div class="container">
  <div class="row-10">
    <h2 class="my-4">コメント一覧</h2>
    <table class="table">
      <tr>
        <th>コメントしたユーザー</th>
        <th>コメントタイトル</th>
        <th>コメント内容</th>
      </tr>
      <% @user_index.each do |comment| %>
      <tr>
        <td><%= comment.review.user.user_name %></td>
        <td><%= comment.comment_title %></td>
        <td><%= comment.comment_body %></td>
        <td><%= link_to "編集", edit_review_comments_path(comment) %></td>
        <td><%= link_to "削除", review_path(@user_index.id), method: :delete, data: { confirm: '本当に消しますか？' }%></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>