管理者側で店舗情報追記画面、機能追加後修正予定


<h2><%= @shop.shop_name %>の店舗情報</h2>

  <p>店舗名</P>
    <span><%= @shop.shop_name %></span>
  </div>
  <P>住所</P>
    <span><%= @shop.shop_address %></span>

  <P>電話番号</P>
    <span><%= @shop.telephone_number %></span>

  <P>営業時間</P>
    <span><%= @shop.business_hours %></span>

  <P>定休日</P>
    <span><%= @shop.regular_holiday %></span>

  <P>アクセス情</P>
    <span><%= @shop.access_information %></span>

  <P>駐車場</P>
    <span><%= @shop.parking %></span>

  <P>メニュー</P>
    <span><%= @shop.menu %></span>

  <P>住所</P>
    <span><%= @shop.remarks %></span>

  <%= link_to "レビューする", new_review_path(shop_id: @shop.id) %>