<div class="container">
  <div class="row justify-content-center">
    <h2 class="title-background my-5"><%= @shop.shop_name %>へのレビュー一覧</h2>
  </div>

  <div class="row justify-content-center">
    <div class="col">
      <table class="table">
        <tr>
          <th>レビューID</th>
          <th>投稿日時</th>
          <th>店舗名</th>
          <th>ユーザー名</th>
          <th>会員氏名</th>
          <th>レビュータイトル</th>
        </tr>
        <% @shop_review_index.each do |review| %>
        <tr>
          <td><%= review.id %></td>
          <td><%= review.created_at.strftime('%Y/%m/%d') %></td>
          <td><%= link_to review.shop.shop_name.truncate(5), admin_shop_path(review.shop_id) %></td>
          <td><%= link_to review.user.user_name, admin_user_path(review.user_id) %></td>
          <td><%= review.user.full_name %></td>
          <td><%= link_to review.review_title.truncate(10), admin_review_path(review.id) %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
