<div class="container">
  <div class="row">
  <!--1列目-->
    <div class="col ">
      <table>
        <tr>
          <th>店舗一覧</th>
        </tr>
      </table>
      <table class="table-bordered">
        <% @shops.each do |shop| %>
        <tr>
          <td>
            <%= link_to shop.shop_name, admin_shop_path(shop.id) %> <!--店舗名-->
            <br><%= shop.shop_address %> <!--店舗_住所-->
            <br><%= shop.telephone_number %><!--店舗_電話番号-->
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  <!--2列目-->
    <div class="col">
      <table>
        <tr>
          <th>会員一覧</th>
        </tr>
        <% @users.each do |user| %>
        <tr>
          <!--<td><%#= user.id %></td>--><!--ユーザーID-->
          <td><%= link_to user.user_name, admin_user_path(user.id) %></td> <!--ユーザー名-->
        </tr>
        <tr>
          <td><%= link_to user.full_name, admin_user_path(user.id) %></td> <!--会員氏名-->
        </tr>
          <!--<td><%#= user %></td>--> <!--ステータス-->
        <tr>
          <td><%= link_to "編集", edit_admin_user_path(user.id), class:"btn btn-sm btn-success" %></td> <!--編集ボタン-->
        </tr>
        <% end %>
      </table>
    </div>
  <!--3列目-->
    <div class="col">
      <table>
        <tr>
          <th>レビュー一覧</th>
        </tr>
      </table>
      <table>
        <% @reviews.each do |review| %>
        <tr>
          <td>
            <%= review.review_title.truncate(10) %> <!--レビュータイトル-->
          <br><%= link_to review.shop.shop_name, admin_shop_path(review.shop.id) %> <!--レビューした対象店舗名-->
          <br><%= link_to review.user.user_name, admin_user_path(review.user_id) %> <!--レビューしたユーザー名-->
          <!--<td><%#= review %></td>--> <!---->
          </td>
        </tr>
        <% end %>
      </table>
    </div>

  </div>
</div>
