<div class="container">
  <div class="row">
  <!--1列目-店舗一覧-->

    <div class="col-4 mt-4">
      <table>
        <tr>
          <th class="h3">店舗一覧</th>
        </tr>
      </table>
      <table>
        <% @shops.each do |shop| %>
        <tr>
          <td>
            <%= link_to shop.shop_name.truncate(15), admin_shop_path(shop.id), class: "border-bottom" %> <!--店舗名-->
            <br><%= shop.shop_address.truncate(20) %> <!--店舗_住所-->
            <br><%= shop.telephone_number %><!--店舗_電話番号-->
          </td>
        </tr>
        <% end %>
      </table>
    </div>
      <!--<div class="col-1"></div>-->
      
  <!--2列目-会員一覧-->
    <div class="col-4 mt-4">
      <table>
        <tr>
          <th class="h3">会員一覧</th>
        </tr>
        <% @users.each do |user| %>
        <tr>
          <!--<td><%#= user.id %></td>--><!--ユーザーID-->
          <td><%= link_to user.user_name, admin_user_path(user.id) %></td> <!--ユーザー名-->
        </tr>
        <tr>
          <td><%= link_to user.full_name, admin_user_path(user.id) %></td> <!--会員氏名-->
          <td><%= link_to "編集", edit_admin_user_path(user.id), class:"btn btn-sm btn-success ml-5" %></td> <!--編集ボタン-->
        <!--</tr>-->
          <!--<td><%#= user %></td>--> <!--ステータス-->
        <!--<tr>-->
        </tr>
        <% end %>
      </table>
    </div>
    <!--<div class="col-1"></div>-->

  <!--3列目-レビュー-->
    <div class="col-4 mt-4">
      <table>
        <tr>
          <th class="h3">レビュー一覧</th>
        </tr>
      </table>
      <table>
        <% @reviews.each do |review| %>
        <tr>
          <td>
            <%= review.review_title.truncate(10) %> <!--レビュータイトル-->
          <br><%= link_to review.shop.shop_name.truncate(15), admin_shop_path(review.shop.id) %> <!--レビューした対象店舗名-->
          <br><%= link_to review.user.user_name, admin_user_path(review.user_id) %> <!--レビューしたユーザー名-->
          <!--<td><%#= review %></td>--> <!---->
          </td>
        </tr>
        <% end %>
      </table>
    </div>
    <!--<div class="col-2"></div>-->

  </div>
</div>
