
    <h2 class="my-3"><%= @user.user_name %>さんのレビュー一覧画面</h2>
    <table class="table">
      <tr>
        <th></th>
        <th>コメントタイトル</th>
        <th>コメント内容</th>
        <th>レビュー</th>
        <th>いいね</th>
        <th></th>
      </tr>
      <% @reviews.each do |review| %>
      <tr>
        <td> <!--review(ブロック変数)に紐ついてるimageをimage_tagに渡して画像表示-->
          <% if review.image.attached? %> <!--attached?を使い画像(image)が保存されてる確認、保存されてなければ"no_iamge"を表示-->
            <%= image_tag review.image, size: "150x150" %>
          <% else %>
            <%= image_tag 'no_image', size: "150x150" %>
          <% end %>
        </td>
        <td><%= link_to review.review_title, review_path %></td>
        <td><%= review.review_comment %></td>
        <td><%= render "static.rate", review: review %></td>
        <td><%= render "public/favorites/favorite" , review: review %></td>
        <td><%= link_to "コメントする", new_review_comments_path(review.id) %></td>
      </tr>
      <% end %>
    </table>

    <script>
    let elems = Array.from(document.querySelectorAll('.stars'));
    for(let elem of elems){
      let opt = {
        starOff: '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        scoreName: 'review[star]',
        readOnly: true,
      };
      window.raty(elem, opt);
    }
    </script>
