<h2>レビュー投稿フォーム（店舗メニューに対してのレビュー投稿、食レポ）</h2>

<h2>レビュー数（後から追加）</h2>
<%#= @shop.shop_name %>
<%= form_with model: @review, URL: '/admin/reviews', method: :post, local: true do |f| %>
  <!--URLの指定で管理者側の店舗レビュー一覧画面へデータ送信,ユーザー側は管理者側からデータを引っ張ってくる予定-->

  <div>
    <%= f.label :画像%>
    <%= f.file_field :image, accept: "image/*" %>
    <!--画像投稿フォーム,accept: "image/*"を使用し画像ファイル歯科投稿できないように設定-->
  </div>
  <div>
    <%= f.label :タイトル %>
    <%= f.text_field :review_title %>
  </div>
  <div>
    <%= f.label :本文 %>
    <%= f.text_area :review_comment %>
  </div>
  <div class="form-group">
    <%= f.label :タグ%>
    <%= f.text_field :category, class: 'form-control book_category' %>
  </div>
  <div>
    <%= f.submit 'レビュー投稿' %>
  </div>
  <%= f.hidden_field :shop_id %> <!--表示させないがshop_idを送るために必要-->
  <%= f.hidden_field :review_id %> <!--表示させないがreview_idを送るために必要-->
<% end %>
  <div>
    <%= render 'star', review: @review %>
  </div>
