<!--現在ログインしているユーザー用の詳細ページ-->
<div class="container">
  <div class="row justify-content-center">
    <h2 class="my-5"><%= @review.user.user_name %>さんのレビュー詳細</h2>
  </div>

  <div class="row justify-content-center">
    <div class="col">
      <div class="h3 mb-2">レビュー店舗容</div>
      <div class="border p-1 text-break", style="width: 40%">
        <%= @review.shop.shop_name %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3 class="mb-2">コメントタイトル</h3>
      <div class="border p-1 text-break", style="width: 40%">
        <%= @review.review_title %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3 class="mb-2">コメント内容</h3>
      <div class="border p-1 text-break", style="width: 40%">
        <%= @review.review_comment %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= render "public/favorites/favorite" , review: @review %>
    </div>
  </div>

  <% if current_user.id == @review.user_id %>
  <div class="row">
    <div class="col">
      <%= link_to "編集", edit_review_path(@review), class: "btn btn-success" %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= link_to "削除", review_path(@review), method: :delete, data: {confirm: "投稿を削除します。よろしいですか？"}, class: 'btn btn-danger' %>
    </div>
  </div>
  <% end %>

</div>