<h2><%= @model %>s search for "<%= @content %>"</h2>

<table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th></th>
        <th>店舗ID</th>
        <th>店舗名</th>
        <th>レビュー数</th>
        <th>いいね数</th>
      </tr>
    </thead>
    <% @shops.each do |shop| %>
    <tbody>
      <tr>
        <td><%= shop.id %></td>
        <td><%= shop.shop_name %></td>
        <td><%= shop.review.count %></td>
        <td><%= shop.favorite.count %></td>
      </tr>
    </tbody>
  <% end %>
</table>