<h2><%= @model %>s search for "<%= @word %>"</h2>

<table class="table table-hover table-inverse">
    <thead>
        <th>店舗名</th>
        <th>レビュー数</th>
        <th>いいね数</th>
        <th>タグ</th>
      </tr>
    </thead>
    <% @shops.each do |shop| %>
    <tbody>
      <tr>
        <td><%= link_to shop.shop_name, shop_path(shop) %></td>
        <td><%= shop.reviews.count %></td>
        <td><%= shop.favorites.count %></td>
        <td><%= shop.category %></td>
        <td><%= link_to "編集", edit_admin_shop_path(shop.id) %></td>
      </tr>
    </tbody>
  <% end %>
</table>