<!--Admin（管理者）側のseach.index-->
<div class="container">
  <div class="row">
    <caption class="h2">"<%= @word %> <%= @keyword %>"検索結果</caption>
  </div>

    <table class="table mt-3">
      <thead>
        <tr>
          <th>店舗名</th>
          <th>レビュー数</th>
          <th>いいね数</th>
          <th>タグ</th>
          <th></th>
        </tr>
      </thead>
      <% @shops.each do |shop| %>
      <tbody>
        <tr>
          <td><%= link_to shop.shop_name, shop_path(shop) %></td>        <!--店舗名を表示-->
          <td><%= shop.reviews.count %></td>                             <!--レビュー数を表示-->
          <td><%= shop.favorites.count %></td>                           <!--いいね数を表示-->
          <td><%= shop.category %></td>                                  <!--タグを表示-->
          <td><%= link_to "編集", edit_admin_shop_path(shop.id) %></td>  <!--店舗情報編集リンク-->
        </tr>
      </tbody>
      <% end %>
    </table>
    <!--ページネーション-->
    <%= paginate @shops, theme: 'bootstrap-5' %>
  </div>
</div>