<div class="container">
  <div class="row justify-content-center">

    <div class="col-lg-8 col-md-10">
      <h2 class="mb-5">会員情報編集</h2>

      <%= form_with model: @user, url: user_path, method: :patch do |f| %>
        <div class="row justify-content-center">

        <div class="col-lg-3 col-md-4 col-sm-4 my-1">
          <p class="my-4">ユーザー名</p>
          <p class="my-4">名前</p>
          <p class="my-4">フリガナ</p>
          <p class="my-4">郵便番号（ハイフン無し） </p>
          <p class="my-4">住所</p>
          <p class="my-4">電話番号</p>
          <p class="my-4">メールアドレス</p>
        </div>

        <div class="col-3 col-sm-4 my-3">
          <div class="form-group">
            <%= f.text_field :user_name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.text_field :last_name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.text_field :last_name_kana, class: "form-control"%>
          </div>
          <div class="form-group">
            <%= f.text_field :post_code, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.text_field :address, class: "form-control", style:"width: 215%;" %>
          </div>
          <div class="form-group">
            <%= f.text_field :telephone_number, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>
        </div>

        <div class="col-3 col-sm-4 my-3">
          <div class="form-group">
            <%= f.text_field :first_name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.text_field :first_name_kana, class: "form-control" %>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-3 col-md-4 col-sm-4 my-1"></div>
          <div class="col-4 co-sm-6">
            <%= f.submit "変更保存", class: "btn btn-success"%>
          </div>
          <div class="col-6 align-content-right">
            <%= link_to "退会する", users_check_path, class: "btn btn-danger" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>