<!DOCTYPE html>
<html>
  <head>
    <title>Burddy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/83f3b5beea.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="sticky-top"> <!--ヘッダーを画面上部に固定する-->
      <nav class="navbar navbar-light bg-light text-white">
      <% if user_signed_in? %>  <!--deviseのヘルパーメソッド、ログインしている時に「ログアウト」、ログインしていない時に「サインアップ」「ログイン」を表示-->
        <div class="container">
          <a class="navbar-brand" href="/">Burdduy</a> <!--ユーザー用ログイン後トップページ-->
        </div>
        <div>
          <%= render 'public/tagsearches/tag_search' %>
        </div>
        <div>
        <%= link_to "お気に入り" %>
        </div>
        <div>
        <%= link_to "レビュー", reviews_path %>
        </div>
        <div>
        <%= link_to "いいね♡", favorites_path %>
        </div>
        <div>
        <%= link_to "マイページ",users_mypage_path %>
        </div>
        <div>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>  <!--HTTPメソッドが「DELETE」なので指定、指定しないと「GET」になってしまう-->
        </div>
      <% elsif admin_signed_in? %>
        <div class="container">
          <a class="navbar-brand" href="/admin">Burdduy（トップページへ）</a> <!--管理者用トップページ-->
        </div>
        <div>
          <%= render 'admin/tagsearches/tag_search' %>
        </div>
        <div>
          <%= link_to "店舗一覧", admin_shops_path %>
        </div>
        <div>
          <%= link_to "会員一覧", admin_users_path(current_user) %>
        </div>
        <div>
          <%= link_to "レビュー一覧", admin_reviews_path(current_user) %>
        </div>
        <div>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>  <!--HTTPメソッドが「DELETE」なので指定、指定しないと「GET」になってしまう-->
        </div>
      <% else %>
        <div class="container">
          <a class="navbar-brand" href="/">Burdduy</a> <!--ログイン前用トップページ-->
        </div>
        <div>
          <%= link_to "About", about_path %>
        </div>
        <div>
          <%= link_to "サインアップ", new_user_registration_path %>
        </div>
        <div>
          <%= link_to "ログイン", new_user_session_path %>
        </div>
      <% end %>
      </nav>
    </header>
    <main>
    <%= yield %>
    </main>
    <footer>
      <nav class="fixed-bottom navbar navbar-light bg-dark">
        <div><a class="navbar-brand, text-white" href="/contacts/new">お問い合わせ</a></div>
      </nav>
    </footer>
  </body>
</html>
