<!DOCTYPE html>
<html>
  <head>
    <title>Burddy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/83f3b5beea.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <table>

      <tr>
        <% if user_signed_in? %>  <!--deviseのヘルパーメソッド、ログインしている時に「ログアウト」、ログインしていない時に「サインアップ」「ログイン」を表示-->
        <td>
          <%= link_to "トップページ", root_path %> <!--ユーザー用トップページ-->
        </td>
        <td>
          <%= render 'public/tagsearches/tag_search' %>
        </td>
        <td>
        <%= link_to "お気に入り" %>
        </td>
        <td>
        <%= link_to "レビュー", reviews_path(current_user) %>
        </td>
        <td>
        <%= link_to "いいね♡", favorites_path(current_user) %>
        </td>
        <td>
        <%= link_to "マイページ",users_mypage_path(current_user) %>
        </td>
        <td>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>  <!--HTTPメソッドが「DELETE」なので指定、指定しないと「GET」になってしまう-->
        </td>
      </tr>
      <% elsif admin_signed_in? %>
      <tr>
        <td>
          <%= link_to "トップページ", admin_root_path %> <!--管理者用トップページ-->
        </td>
        <td>
          <%= render 'public/tagsearches/tag_search' %>
        </td>
        <td>
        <%= link_to "店舗一覧", admin_shops_path() %>
        </td>
        <td>
        <%= link_to "会員一覧", admin_users_path(current_user) %>
        </td>
        <td>
        <%= link_to "レビュー一覧", admin_reviews_path(current_user) %>
        </td>
        <td>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>  <!--HTTPメソッドが「DELETE」なので指定、指定しないと「GET」になってしまう-->
        </td>
      </tr>
      <% else %>
      <tr>
        <td>
          <%= link_to "トップページ", root_path %> <!--ユーザー用トップページ-->
        </td>
        <td>
          <%= link_to "About", about_path %>
        </td>
        <td>
        <%= link_to "サインアップ", new_user_registration_path %>
        </td>
        <td>
        <%= link_to "ログイン", new_user_session_path %>
        </td>
      <% end %>
      </tr>
    </table>
    <%= yield %>
  </body>
</html>
