<!DOCTYPE html>
<html>
  <head>
    <title>Burddy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/83f3b5beea.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <haeder>

      <div><%= link_to "トップページ", root_path %></div>
      <% if user_signed_in? %>  <!--deviseのヘルパーメソッド、ログインしている時に「ログアウト」、ログインしていない時に「サインアップ」「ログイン」を表示-->
      <div>
        <%= link_to "お気に入り" %>
      </div>
      <div>
        <%= link_to "レビュー", reviews_path(current_user) %>
      </div>
      <div>
        <%= link_to "いいね♡", favorites_path(current_user) %>
      </div>
      <div>
        <%= link_to "マイページ",users_mypage_path(current_user) %>
      </div>
      <div>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>  <!--HTTPメソッドが「DELETE」なので指定、指定しないと「GET」になってしまう-->
        </div>
      <% else %>
      <div>
        <%= link_to "About", about_path %>
      </div>
      <div>
        <%= link_to "サインアップ", new_user_registration_path %>
      </div>
      <div>
        <%= link_to "ログイン", new_user_session_path %>
      </div>
      <% end %>
    </haeder>
    <%= yield %>
  </body>
</html>
