<!DOCTYPE html>
<html>
  <head>
    <title>Burddy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/83f3b5beea.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="sticky-top"> <!--ヘッダーを画面上部に固定する-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light text-white">
        <!--トップページロゴのリンク先を会員(ユーザー)と管理者で分けるため-->
        <% if user_signed_in? %>
          <a class="navbar-brand" href="/">Burdduy</a>  <!--ユーザー用ログイン後トップページ-->
        <% elsif admin_signed_in? %>
          <a class="navbar-brand" href="/admin">Burdduy（管理者用トップページへ）</a> <!--管理者用トップページ-->
        <% else %>
          <a class="navbar-brand" href="/">Burdduy</a> <!--ログイン前用トップページ-->
        <% end %>

        <div class="collapse navbar-collapse justify-content-end">
          <ul class="navbar-nav ">

            <!--会員(ユーザー)用のヘッダー-->
            <% if user_signed_in? %>  <!--deviseのヘルパーメソッド、ログインしている時に「ログアウト」、ログインしていない時に「サインアップ」「ログイン」を表示-->
              <li class="nav-item">
                <%= render 'public/tagsearches/tag_search', class: "nav-link" %>
              </li>
              <!--<li class="nav-item">-->
              <!--  <%#= link_to "お気に入り", class: "nav-link"%>-->
              <!--</li>-->
              <li class="nav-item">
                <%= link_to "レビューコメント一覧", reviews_path, class: "nav-link" %>
              </li>
              <!--<li>-->
              <!--  <%#= link_to "コメント一覧", user_index_path(current_user), class: "nav-link" %>-->
              <!--</li>-->
              <li class="nav-item">
                <%= link_to "いいね♡", favorites_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "マイページ", mypage_path(current_user), class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>  <!--HTTPメソッドが「DELETE」なので指定、指定しないと「GET」になってしまう-->
              </li>

              <!--管理者(admin)用のヘッダー-->
            <% elsif admin_signed_in? %> <!--管理者(admin)でログインしてるか判断する-->
              <li class="nav-item">
                <%= render 'admin/tagsearches/tag_search', class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "店舗一覧", admin_shops_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "会員一覧", admin_users_path(current_user), class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "レビューコメント一覧", admin_reviews_path(current_user), class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "お問い合わせ", admin_contacts_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>  <!--HTTPメソッドが「DELETE」なので指定、指定しないと「GET」になってしまう-->
              </li>

              <!--未ログイン状態での表示-->
            <% else %>
              <li class="nav-item">
                <%= link_to "About", about_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "サインアップ", new_user_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <!--フラッシュメッセージ-->
      <% flash.each do |message_type, message| %>
        <div class="flash-message <%= message_type %>"><%= message %></div>
       <% end %>
      <%= yield %>
    </main>

    <footer class="footer fixed-bottom bg-light">
      <!--フッター-->
      <!--<nav class=" navbar navbar-light ">-->
        <div><a class="navbar-brand text-black ml-5" href="/contacts/new">お問い合わせ</a></div>
      <!--</nav>-->
    </footer>

  </body>
</html>
